{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}


{{#post}}

{{> "ai-psychosis/styles"}}
{{> "ai-psychosis/pull-quote"}}
{{> "ai-psychosis/checklist"}}
{{> "ai-psychosis/messages"}}
<main class="gh-main aipsy-main">
  <article class="gh-article">
    {{> "ai-psychosis/header"}}
    <section class="gh-content is-body">
      {{content}}
    </section>

    <section class="messages-section">
      <div class="messages-container">
        <div class="message received">
          <div class="message-bubble">Hey, how are you doing?</div>
        </div>
        <div class="message sent">
          <div class="message-bubble">I'm good! How about you?</div>
        </div>
        <div class="message received">
          <div class="message-bubble">Pretty good, just working on some stuff</div>
        </div>
        <div class="message sent">
          <div class="message-bubble">That's great! Let me know if you need anything</div>
        </div>
        <div class="message received">
          <div class="message-bubble">Will do, thanks!</div>
        </div>
      </div>
    </section>

  </article>
</main>
{{/post}}
