{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}


{{#post}}

{{> "ai-psychosis/styles"}}
{{> "ai-psychosis/pull-quote"}}
{{> "ai-psychosis/checklist"}}
{{> "ai-psychosis/messages"}}
<main class="gh-main aipsy-main">
  <article class="gh-article">
    {{> "ai-psychosis/header"}}
    <section class="gh-content gh-canvas is-body">
      {{content}}
    </section>
  </article>
</main>
{{/post}}
