{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}


{{#post}}

{{> "ai-psychosis/styles"}}
<main class="gh-main aipsy-main">
  <article class="gh-article">
    {{> "ai-psychosis/header"}}
    <section class="gh-content">
      {{content}}
    </section>

  </article>
</main>
{{/post}}
